<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="referrer" content="no-referrer">

	<title>Shout</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link id="theme" rel="stylesheet" href="<%= theme %>">

	<link rel="shortcut icon" href="/img/favicon.png">
	<link rel="icon" sizes="192x192" href="/img/touch-icon-192x192.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">

	</head>
	<body class="<%= public ? "public" : "" %>">

	<div id="wrap">
	<div id="viewport">
		<aside id="sidebar" class="tse-scrollable">
			<div class="tse-content">
				<div class="networks"></div>
				<div class="empty">
					아직 접속하지 않았습니다.
				</div>
			</div>
		</aside>
		<footer id="footer">
			<button class="icon connect" data-target="#connect" data-title="Connect" data-placement="top" title="서버에 접속"></button>
			<button class="icon settings" data-target="#settings" data-title="Settings" data-placement="top" title="클라이언트 설정"></button>
		</footer>
		<div id="main">
			<div id="windows">
				<div id="chat" class="no-colors"></div>
				<div id="connect" data-title="Connect" class="window">
					<div class="header">
						<button class="lt"></button>
					</div>
					<form class="container" action="">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="title">Ozinger Web IRC</h1>
							</div>
							<div class="col-sm-12">
								<h2>접속 정보</h2>
							</div>
							<div class="col-sm-3">
								<label>닉네임</label>
							</div>
							<div class="col-sm-5">
								<input class="input nick" name="nick" value="<%= defaults.nick %>">
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-3">
								<label>접속할 채널</label>
							</div>
							<div class="col-sm-9">
								<input class="input" name="join" class="input" value="<%= defaults.join %>">
							</div>
							<div class="col-sm-3 clearfix"></div>
							<div class="col-sm-9">
								<button type="submit" class="btn">
									접속하기
								</button>
							</div>
						</div>
					</form>
				</div>
				<div id="settings" data-title="Settings" class="window">
					<div class="header">
						<button class="lt"></button>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="title">설정</h1>
							</div>
							<div class="col-sm-12">
								<h2>채팅</h2>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="join">
									채널 입장 표시
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="motd">
									MOTD 표시
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="part">
									채널 퇴장 표시
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="nick">
									닉네임 변경 표시
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="mode">
									모드 변경 표시
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="quit">
									연결 종료 표시
								</label>
							</div>
							<div class="col-sm-12">
								<h2>시각 효과</h2>
							</div>
							<div class="col-sm-12">
								<label class="opt">
									<input type="checkbox" name="colors">
									닉네임에 색깔 입히기
								</label>
							</div>
							<% if (typeof prefetch === "undefined" || prefetch !== false) { %>
							<div class="col-sm-12">
								<h2>이미지와 링크</h2>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="thumbnails">
									이미지 미리보기 활성화
								</label>
							</div>
							<div class="col-sm-6">
								<label class="opt">
									<input type="checkbox" name="links">
									링크 미리보기 활성화
								</label>
							</div>
							<% } %>
							<div class="col-sm-12">
								<h2>알림</h2>
							</div>
							<div class="col-sm-12">
								<label class="opt">
								<input id="badge" type="checkbox" name="badge">
								알림 뱃지 사용하기
								</label>
							</div>
							<div class="col-sm-12">
								<label class="opt">
								<input type="checkbox" name="notification">
								알림 효과음 사용하기
								</label>
							</div>
							<div class="col-sm-12">
								<div class="opt">
									<button id="play">효과음 들어보기</button>
								</div>
							</div>

							<div class="col-sm-12">
								<label class="opt">
									<input type="checkbox" name="notifyAllMessages">
									Enable notification for all messages
								</label>
							</div>
							<div class="col-sm-12">
								<h2>About Shout</h2>
							</div>
							<div class="col-sm-12">
								<p class="about">
									You're currently running version <small><%= version %></small><br>
									<a href="https://raw.githubusercontent.com/erming/shout/master/CHANGELOG.md" target="_blank">Check for updates</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form id="form" action="">
				<div class="inner">
					<button id="submit" type="submit">
						보내기
					</button>
					<div class="input">
						<label for="input" id="nick"></label>
						<input id="input" class="mousetrap">
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/shout.templates.js"></script>
	<script src="js/shout.js"></script>

	</body>
</html>
